.content {
    position: relative;
    z-index: 3;
}

#no {
    position: absolute;
    display: inline-block;
    left: 35%;
    top: 40vh;
    -webkit-transition: all 0.1s ease-out;
}

#yes {
    position: absolute;
    display: inline-block;
    left: 70%;
    top: 40vh;
    -webkit-transition: all 0.3s ease-out;
}

#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url(../img/bg.webp);
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(4px);
}

.swal2-image {
    object-fit: contain;
}

.swal2-title,
.swal2-content {
    color: #f8f9fa !important; /* Light color for better contrast */
    font-family: 'Arial', sans-serif; /* Readable sans-serif font */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8); /* Subtle shadow for visibility */
}

.swal2-popup {
    border-radius: 15px !important;
}

header h2 {
    font-family: 'Roboto', sans-serif; /* Modern sans-serif font */
    font-size: 80px;
    text-align: center;
    margin-bottom: 30px;
    color: cyan;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Enhances text on dark backgrounds */
}

header h4 {
    font-family: 'Open Sans', sans-serif; /* High-contrast font */
    text-align: center;
    color: chartreuse;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 500px) {
    header h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        text-align: center;
        margin-bottom: 30px;
    }
    header h4 {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        padding: 15px;
    }
    #no {
        position: absolute;
        display: inline-block;
        left: 7%;
        top: 40vh;
        font-size: 14px;
        padding: 3px;
        -webkit-transition: all 0.1s ease-out;
    }
    #yes {
        position: absolute;
        display: inline-block;
        left: 58%;
        top: 40vh;
        font-size: 14px;
        padding: 3px;
        -webkit-transition: all 0.3s ease-out;
    }
}

.swal2-backdrop-show {
    background-size: 200px 100px !important;
}
